nav, footer, div
{
    background-color: rgba(255, 94, 0, 0.904); 
}
h1
{
 text-align: center;font-size: 2.5em; color: whitesmoke;
}
span
{
font-style: italic; font-size: 32px;
}
a
{
font-style: italic;font-size: large;
}
img
{
    background-color:  whitesmoke;
}
h2
{
    text-decoration: underline; 
}
p, ul
{
    background-color: white;  
}
#bro, #c1
{
    color: whitesmoke; text-align: center; font-size: 1.6em
}